body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5 ;
}
.formContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
input{
    width: 300px;
    margin: 10px 0;
    padding: 14px 16px;
    color: black;
    border: 1px solid #1877f2 ;
    border-radius: 5px;
    font-size: 17px;
    outline: 0;

}
#submit{
    width: 330px;
    background-color:#1877f2;
    color: #fff;
    font-weight: 600;
}
h1{
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #1877f2;
    margin: 20px 0;
}